@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-bold.woff") format("woff"), url("../fonts/lato-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-regular.woff") format("woff"), url("../fonts/lato-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.container {
  width: 71%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 1600px) {
  .container {
    width: 96%;
  }
}

.header {
  background-color: #222222;
  position: relative;
}

.header__navigation {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  background: transparent;
  border: none;
  margin: 0 33px 0 0;
}

.header__button:hover + .header__navigation {
  display: block;
}

.header__button:hover .header__button-icon {
  fill: #F16D7F;
}

.header__button:active .header__button-icon {
  fill: #F1E4E6;
}

.header__navigation {
  background-color: #FFF;
  position: absolute;
}

.header__link {
  margin: 0 33px 0 0;
}

.header__link:hover .header__button-icon {
  fill: #F16D7F;
}

.header__link:active .header__button-icon {
  fill: #F1E4E6;
}

.header__link-opacity:hover, .header__link-opacity:focus {
  opacity: 0.7;
}

.header__button-icon {
  fill: #E8E8E8;
}

@media (max-width: 1600px) {
  .header {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 16px;
  }
  .header__link {
    display: none;
  }
  .header__link-opacity {
    display: none;
  }
}

.brand {
  max-width: 1600px;
  display: flex;
  margin: 0 auto 63px auto;
}

@media (max-width: 768px) {
  .brand {
    min-height: 363px;
  }
}

.brand .brand__title-container {
  background: #F1E4E6;
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
}

@media (max-width: 1600px) {
  .brand .brand__title-container {
    padding: 0 0 0 69px;
  }
}

@media (max-width: 768px) {
  .brand .brand__title-container {
    padding: 0 0 0 83px;
  }
}

.brand .brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  /* width: 377px; */
  text-transform: uppercase;
}

@media (max-width: 1600px) {
  .brand .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: normal;
  }
}

@media (max-width: 768px) {
  .brand .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: normal;
  }
}

.brand .brand__sub-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

@media (max-width: 1600px) {
  .brand .brand__sub-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;
  }
}

@media (max-width: 768px) {
  .brand .brand__sub-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
  }
}

.brand .brand__pink-sub-title {
  color: #F16D7F;
}

.brand .brand__img {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .brand .brand__img {
    display: none;
  }
}

.promotions__list {
  margin: 0 0 63px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promotions__title {
  color: white;
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
}

.promotions__item {
  width: 31%;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px;
}

@media (max-width: 1600px) {
  .promotions__item {
    width: 31%;
    min-height: 168px;
    margin: 0 0 19px;
  }
}

@media (max-width: 768px) {
  .promotions__item {
    width: 100%;
    min-height: 247px;
    margin: 0 0 32px;
  }
}

.promotions__item--woman {
  background-image: url("../img/promotions-woman.jpg");
  background-size: cover;
}

.promotions__item--man, .promotions__item--kids, .promotions__item--accesories {
  background-image: url("../img/promotions-man.jpg");
  background-size: cover;
}

.promotions__item--accesories {
  width: 100%;
}

@media (max-width: 1600px) {
  .promotions__item--accesories {
    min-height: 116px;
  }
}

.products__button {
  display: none;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .products__list {
    flex-direction: column;
    align-items: center;
  }
}

.products__item {
  width: 360px;
}

@media (max-width: 375px) {
  .products__item {
    width: 100%;
  }
}

.products__img {
  display: block;
}

@media (max-width: 375px) {
  .products__img {
    width: 100%;
  }
}

.products__description {
  background: #F8F8F8;
  padding: 25px 29px 20px 17px;
}

.footer {
  background-color: #222222;
}

.footer__link {
  width: 10px;
  height: 10px;
  background-color: white;
}

.footer__link:hover {
  background-color: #F1E4E6;
}

.footer__link:hover .footer__link-icon {
  fill: #F16D7F;
}
/*# sourceMappingURL=style.css.map */